<div class= "container mt-4 mb-4">

  <h1 style= "margin-top: 80px;">商品の編集</h1>

  <%= render "form", good: @good %>

  <br>

  <div>
    <%= link_to "商品の詳細", @good, class: "btn btn-success" %>
    <%= link_to "一覧に戻る", goods_path, class: "btn btn-secondary" %>
  </div>

</div>