<div class="container mt-4">
  <h3 style="padding-bottm: 4px; margin: 80px 0 30px 0;">新しい商品を登録</h3>
  <%= render "form", good: @good %>
  <br>
  <div>
    <%= link_to "戻る", goods_path, class: "btn btn-secondary" %>
  </div>
</div>
