/* 共通 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #626B71;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.875;
}

li {
    list-style: none;
}

img {
    vertical-align: bottom;
}


// .container
.container {
    max-width: 950px;
    margin: 0 auto;
}


// top画像
.top {
    &-img {
        background-image: url("top_beach1.jpg");
        background-size: cover;
        height: 620px;
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-text {
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 3px;
        }
    }

    &__title {
        font-size: 32px;
        color: #4a4a4a;
        letter-spacing: 2px;
        padding: 20px 0 40px;
    }
}

/* concept */
.concept {
    margin-top: 80px;
}

.concept h2 {
    font-size: 32px;
    text-align: center;
}

.concept p {
    margin-top: 30px;
    /* text-align: center; */
}

/* products */
.products {
    margin-top: 160px;
}

.product-h2 {
    margin-bottom: 30px;
}


.products h2 {
    font-size: 32px;
    text-align: center;
}

.products .pr-imgages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pr-imgages h3 {
    font-size: 27px;
    text-align: center;
    margin: 50px 0;
}

.pr-imgages span {
    border-bottom: 1px solid #626B71;
}

.pr-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* news */
.news {
    margin-top: 160px;
    background-color: #F4F4F4;
}

.news .container {
    padding: 30px 0;
}

.news dl div {
    border-bottom: 1px solid #D1CFCF;
}

.news dl div dd {
    margin: 0px 0 10px 0;
}

.news h2 {
    font-size: 32px;
    text-align: center;
}

.news dt {
    margin-top: 20px;
}

.news .button {
    text-align: center;
    margin-top: 30px;
}

.news .button a {
    background-color: #fff;
    color: #626B71;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.16);
}

/* shop */
.shop {
    margin-top: 160px;
}

.shop h2 {
    font-size: 32px;
    text-align: center;
}

.shop p {
    margin: 40px 0;
    /* text-align: center; */
}

.shop .map {
    margin-top: 30px;
    display: block;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.shop_data {
    margin-top: 30px;
}

.shop_data .container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.shop_data .shop_data_wrap {
    // border: 1px solid #707070;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.shop_data dt {
    font-weight: bold;
}



.shop_data .shop_detail div {
    display: flex;
    margin-top: 10px;
}

.shop_data .shop_detail dt {
    min-width: 5em;
}


.card {
    color: black;

    &-product-name {
        padding: 12px;
    }

    &-quantity {
        padding: 12px;
    }

    &__total-price {
        padding: 12px;
    }

    &__btn-trash {
        padding: 12px;
    }

    &:hover {
        transform: scale(1.01);
        transition-duration: 0.5s;
    }

    &-img {
        height: 250px;
        background-size: cover;
    }
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-img {
        height: 400px;
        margin-top: 125px;
    }

    &-cart-img {
        height: 120px;
        width: 110px;
    }

    &__content-header {
        padding: 40px 0 40px;
    }

    &__name {
        font-size: 32px;
        color: #4a4a4a;
        letter-spacing: 2px;
        margin-bottom: 4px;
    }

    &__price {
        font-size: 12px;
        color: #4a4a4a;
        letter-spacing: 1px;
    }

    &__quantity {
        padding: 24px 0 12px;

        input {
            width: 100%;
        }
    }

    &__btn-add-cart {
        padding: 12px 0 12px;
    }
}

.cart {
    &-wrapper {
        width: 720px;

        .product-cart-img {
            height: 120px;
            width: 155px;
        }


        .card-body {
            display: flex;
            align-items: center;

            .card__btn-trash {
                a {
                    color: black;
                }
            }
        }
    }

    &__title {
        font-size: 24px;
        color: #4a4a4a;
        letter-spacing: 1px;
        margin: 85px 0 20px;
    }

    &__sub-total {
        font-size: 16px;
        color: #4a4a4a;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }

    &__empty {
        font-size: 16px;
        color: #4a4a4a;
        letter-spacing: 1px;
    }
}

.col-lg-4,
.col-md-6 {
    margin-bottom: 24px;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.navbar {
    .container {
        a {
            color: black;
            padding-top: 2px;
        }
    }
}

.card {
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


@media (max-width: 600px) {
    .top {
        &-img {
            background-image: url("top_beach1.jpg");
            height: 300px;
        }
    }
}

@media (max-width: 760px) {
    .card {
        &-img {
            height: auto;
            max-height: 700px;
        }
    }
}

@media (max-width: 600px) {
    .cart {
        &-wrapper {
            width: 355px;

            .product-cart-img {
                height: 120px;
                width: 130px;
            }


            .card-body {
                display: flex;
                align-items: center;
                padding: 0;
                width: 160px;

                .card-product-name {
                    font-size: 10px;
                    padding: 1px;
                    width: 105px;
                }

                .card-quantity {
                    padding-left: 4px;
                    font-size: 10px;
                    width: 35px;
                }


                .card__total-price {
                    padding-right: 11px;
                    font-size: 10px;
                }

                .card__btn-trash {
                    padding: 5px;

                    a {
                        color: black;
                    }
                }
            }
        }

        &__title {
            font-size: 24px;
            color: #4a4a4a;
            letter-spacing: 1px;
            margin: 85px 0 20px;
        }

        &__sub-total {
            font-size: 16px;
            color: #4a4a4a;
            letter-spacing: 1px;
            margin-bottom: 12px;
        }

        &__empty {
            font-size: 16px;
            color: #4a4a4a;
            letter-spacing: 1px;
        }
    }
}