<div class="fixed-top">
<nav class="navbar navbar-dark" style="background-color:#e3f2fd;">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>

    <%= link_to carts_path(@cart) do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
  </div>
</nav>
</div>
